<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site1.master.cs" Inherits="lims_labcommunity.Site1" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <title></title>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                <h1>Welcome to the Lab Community</h1>
                <p>This is a placeholder for the main content of the site.</p>
            </asp:ContentPlaceHolder>
        </div>
    </form>
</body>
</html>
